.signUP-btn {
  background-color: #00aefe;
  border: none;
  padding: 8px 25px;
}

.signUP-btn:hover {
  background-color: #007dfe;
}

.signUP-btn:focus {
  border: none;
  outline: none;
  background-color: #007dfe;
}
