.boxShadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

Nav a:hover {
  color: #00aefe !important;
}

.signOut-btn {
  background-color: #00aefe;
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
}

.signOut-btn:hover {
  background-color: #007dfe;
}

.signOut-btn:focus {
  border: none;
  outline: none;
  background-color: #007dfe;
}
